body{
  background-color: #69a748
}
div{
  width: 100%;
  height: 50%;
}

#nombre {
  float: left;
  position: relative;
  margin-left: 0%;
}
#nombre h1{
  font-size: 50px;
  font-family: "Oswald", sans-serif;
  margin-left: 30%;
  color: white;
  letter-spacing: 5px;
  text-align: inherit;
}
#social{
  float: left;
  position: relative;
  width: 100%;
  height: 50%;
}
